body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #2E2F42;
    font-style: normal;
}
ul {
    list-style-type: none;
}

.first-logo {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03;
    color: #4d5ae5;
}

.first-web {
    color: #2e2f42;
    font-weight: 700;
}
.menu {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
}
.menu li a {
    line-height: 1.5;
    letter-spacing: 0.02;
}
.menu li a:focus {
    color: #404bbf;
}
.address li a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02;
}
.main-header {
    font-family: "Roboto";
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02;
}

.header-section {
    background-color: #2E2F42;
}
.order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #4D5AE5;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04;
}
.header-two {
    color: #FFFFFF;
}
.characteristics h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
}
.characteristics p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}
.our-team {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02;
    text-transform: capitalize;
}
.team-section {
    background-color: #F4F4FD;
}

.team li h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.team li p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.portfolio {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02;
    text-transform: capitalize;
}

.projects li h3 {
    font-weight: 500;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
}

.projects li p {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.last-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 0.03;
}
.dark-studio {
    color: #f4f4fd;
}

.last {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
}

.menu li a:hover {
    color: #404BBF;
}
.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.address li a:hover,
.address li a:focus {
    color: #404BBF;
}
